/****************************************
                 GENERAL
*****************************************/
button {
  margin: 20% 50%;
  background-color: rgb(26, 160, 149);
  border-radius: 15px;
  border: solid 5px black;
}

body {
  margin: 0px;
  background-color: rgb(230, 230, 230);
  font-family: 'Pontano Sans', cursive;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

#magiclink:hover {
  color: black;
}



/****************************************
                  HEADER
*****************************************/

header {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  background: radial-gradient(circle, #000, #444);
  border-top: 4px solid rgb(26, 160, 149);
  border-bottom: 4px solid rgb(26, 160, 149);
}

header h1 {
  margin-top: 0;
  margin-bottom: 3px;
  color: rgb(26, 160, 149);
}

/******** Stop header from getting too large on wide screens ********/
@media screen and (min-width: 1280px) {
  header h1{
    font-size: 100px;
  }
}

header img {
  width: 20%;
  height: 20%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  border: 3px solid white;
  transition: all 0.5s;
}




/****************************************
                 SECTION
*****************************************/

section {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.button {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 87px;
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgb(26, 160, 149);
  font-size: 18px;
  transition: all 0.5s;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.button-selected {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 87px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(26, 160, 149);
  font-size: 18px;
  color: white;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.button:hover {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 87px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(26, 160, 149);
  font-size: 18px;
  color: white;
}

/****************************************
                 ABOUT
*****************************************/

#aboutme {
  margin-left: 10%;
  margin-right: 10%;
}

/****************************************
                 RESUME
*****************************************/

article h3 {
  text-align: left;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
}

article h4 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

article h5 {
  text-align: left;
  margin-top: 5px;
}

article ul {
  text-align: left;
  font-style: italic;
  font-size: 16px;
}



/****************************************
                 CONTACT
*****************************************/

#contactbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

#contactbox p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#contactbox a {
  color:  rgb(26, 160, 149);
}



/****************************************
                 FOOTER
*****************************************/

footer {
  text-align: center;
}
